/*
 * Empty Stylesheet file.
 */

.panePrincipal {
    -fx-background-color:#002963;
}

/*
#home{
-fx-graphic:url(../resoucer/Save_52_Gray.png);
}
#home:hover{
-fx-graphic:url(../resoucer/Save_52_IndialR.png); 
}*/


